html,
body {
  height: 100vh;
  margin: 0;
  background-color: rgb(117, 135, 138);
}

.tab-pane {
  display: none;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  height: 100%;
}

a {
  cursor: pointer;
}

article {
  overflow: auto;
}

article::-webkit-scrollbar {
  display: none;
}

#el-upload-dragger {
  text-align: center;
  cursor: pointer;
  width: 400px;
  height: 400px;
  z-index: 3;
  position: absolute;
}

.upload-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}

.el-upload__text {
  font-size: 18px;
  color: #606266;
}

.el-upload__text em {
  color: #068eff;
  font-style: normal;
}

.buttonPic {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #fff;
  background-color: #068eff;
  border-color: #068eff;
  cursor: pointer;
}

.compressClass {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}